<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<head>
	<meta charset="UTF-8">
	<title>Heroku & Node Test</title>
	<link rel="stylesheet" type="text/css" href="public/css/vendor/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="public/css/vendor/bootstrap/css/bootstrap-theme.min.css"/>
</head>
<body>
	<h1><span class="glyphicon glyphicon-send"></span></h1>
	
	<script type="text/javascript" src="public/js/vendor/jquery-2.1.1.min.js"/></script>
</body>
</html>